<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" th:href="@{/css/properety.css}">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            background-image:url(https://scopeindia.org/images/snowpark-skis-headerbg2.jpg);
            
        }
        .contact-form-container {
            padding: 3% 0;
            
            background-repeat: no-repeat;
            background-position: center top;
            color: #ffffff;
        }
        .form-control {
            border-radius: 20px;
        }
        .btn-call-me {
            background-color: #009318;
            color: #ffffff;
            border-radius: 20px;
            padding: 12px 24px;
            font-size: 18px;
        }
        .btn-call-me:hover {
            background-color: #007a0e;
        }
        
        .li {
        margin-bottom: 10px;
        background-color: #f1fbf4;
        width: 700px;
        
        border-radius: 7px;
        box-shadow: 5px 2px 4px rgba(7, 2, 22, 0.1);
        transition: transform 0.1s ease;
        margin-left: 395px;
       
        
    }

    li:hover {
        transform: translateY(-3px);
    }
        
         
        
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg  sticky-top" style="height: 60px; background-color: #2c1082;">
        <div class="container">
            <ul class="navbar-nav mr-auto color-white" >
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
            <a class="navbar-brand mx-auto" href="https://scopeindia.org/software-networking-testing-cloud-training-kerala-trivandrum-kochin" title="SCOPE INDIA - Software and Networking Professional Education Center">
                <img th:src="@{https://scopeindia.org/images/scope-india-logo-bird.png}" alt="SCOPE INDIA" style="width: 70px; height: auto;">

            </a>
            <ul class="navbar-nav ml-auto color-white">
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contact Us</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/form"><span><span class="register bg-darkgreen">Register Now</span></span></a>
                </li>
            </ul>
        </div>
    </nav><br><br><br><br><br>
    
<div class="column_attr clearfix align_center">
    <div class="text-center">
        <h1 th:style="'color: orange; font-size: 60px;'">SCOPE INDIA is open 365 days a year</h1>
        <h2 th:style="'color: rgb(217, 230, 227); font-size: 30px; font-style:oblique ;'">Let's discuss your career, 24/7 free Consultation</h2>
        <a class="footer_links" href="https://g.page/r/CXbW6SZGeJPfEAE" title="SCOPE INDIA Google Map Location to Trivandrum, Kerala" target="_blank">
            <img th:src="@{https://scopeindia.org/images/5star.png}" class="star5" style="height: 160px;">
        </a>
        <p class="text-center" th:style="'color: rgb(217, 230, 227)'">Google 4.9 * Rated Institute</p>
    </div>
</div>




     

    <div class="container contact-form-container">
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9" style="height: 650px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eIFj4nYNYbw?autoplay=1&amp;rel=0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
               <!--   <h1 class="mt-4 mt-md-0" style="color: black;">We are open 365 days</h1>
                <p class="mb-4" style="color: black;">SCOPE INDIA is open 24/7 to talk to you and listen to your queries.</p>-->
                <div class="opening_hours">
                    <div class="opening_hours_wrapper">
                    
                    
        <form th:action="@{/sendmail}" method="POST" th:object="${usercontact}">
    <h3 class="mb-3" style="color: rgb(139, 196, 53);"> <strong>GET A FREE CALL BACK</strong> </h3>
    <div class="form-group">
        <label for="name" style="color: black;">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" th:field="*{name}">
    </div>
    <div class="form-group">
        <label for="email" style="color: black;">Number:</label>
        <input type="text" class="form-control" id="number" name="number" placeholder="Enter your number" th:field="*{number}">
    </div>
    <div class="form-group" style="color: black;">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" placeholder="Enter your message" th:field="*{message}"></textarea>
    </div>
    <button type="submit" class="btn btn-call-me">Call Me</button>
</form>
      <h3 style="color: violet;" th:text="${sucess}"></h3>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and any additional scripts -->
    <div class="section mcb-section dark" style="padding-top:30px; padding-bottom:100px;">
        <div class="container1" style="background-color: #051a69; width: 100%; padding-top: 50px;">
            <h2 style="padding-left: 180px; color: #fff;">Locations</h2>
            <div class="container" style="color:#f5efef;">
                <div class="row gy-5">
                <div class="col-6">
                  <div class="card mb-4" style="border: 1px solid white; background-color: #051a69; height: 295px;">
                    <div class="card-body">
                      <h3 class="card-title" style="color:#fff;">Technopark TVM Kerala</h3>
                      <p class="card-text">
                        <span class="icon"><i class="icon-location"></i></span>
                        Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-call"></i></span>
                        <a class="footer" href="tel:+919745936073">9745936073</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-mail"></i></span>
                        <a class="footer" href="mailto:info@scopeindia.org">technopark@scopeindia.org</a>
                      </p>
                      <p class="card-text"> 
                        <span class="icon"><i class="icon-link"></i></span>
                        <a class="footer" href="https://scopeindia.org">www.scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-map"></i></span>
                        <a class="footer" href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9">Location Route Map</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card mb-4" style="border: 1px solid white;background-color: #051a69;">
                    <div class="card-body">
                      <h3 class="card-title" style="color:#fff;">Thampanoor TVM,Kerala</h3>
                      <p class="card-text">
                        <span class="icon"><i class="icon-location"></i></span>
                        TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-call"></i></span>
                        <a class="footer" href="tel:+919745936073">9745936073</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-mail"></i></span>
                        <a class="footer" href="mailto:info@scopeindia.org">info@scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-link"></i></span>
                        <a class="footer" href="https://scopeindia.org">www.scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-map"></i></span>
                        <a class="footer" href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9">Location Route Map</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card" style="border: 1px solid white;background-color: #051a69;">
                    <div class="card-body">
                      <h3 class="card-title" style="color:#fff;">Kochi,Kerala </h3>
                      <p class="card-text">
                        <span class="icon"><i class="icon-location"></i></span>
                        SCOPE INDIA, Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-call"></i></span>
                        <a class="footer" href="tel:+917592939481">7592939481</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-mail"></i></span>
                        <a class="footer" href="mailto:kochi@scopeindia.org">kochi@scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-link"></i></span>
                        <a class="footer" href="https://scopeindia.org">www.scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-map"></i></span>
                        <a class="footer" href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9">Location Route Map</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card mb-4" style="border: 1px solid white;background-color: #051a69;">
                    <div class="card-body">
                      <h3 class="card-title" style="color:#fff;">Nagercoil, Tamil Nadu</h3>
                      <p class="card-text">
                        <span class="icon"><i class="icon-location"></i></span>
                        SCOPE INDIA, Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-call"></i></span>
                        <a class="footer" href="tel:+918075536185">8075536185</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-mail"></i></span>
                        <a class="footer" href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-link"></i></span>
                        <a class="footer" href="https://scopeindia.org">www.scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-map"></i></span>
                        <a class="footer" href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9">Location Route Map</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-3"></div>
                <div class="col-6">
                  <div class="card mb-4" style="border: 1px solid white;background-color: #051a69;">
                    <div class="card-body">
                      <h3 class="card-title" style="color:#fff;">Nagercoil, Tamil Nadu</h3>
                      <p class="card-text">
                        <span class="icon"><i class="icon-location"></i></span>
                        SCOPE INDIA, Pharma Street, 5/2 Ward 28, Distillery Road, Putheri Nagercoil (Near WCC Jn)
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-call"></i></span>
                        <a class="footer" href="tel:+918075536185">8075536185</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-mail"></i></span>
                        <a class="footer" href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-link"></i></span>
                        <a class="footer" href="https://scopeindia.org">www.scopeindia.org</a>
                      </p>
                      <p class="card-text">
                        <span class="icon"><i class="icon-map"></i></span>
                        <a class="footer" href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9">Location Route Map</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
          </div>
      </div>
      
      <footer id="Footer" class="clearfix" style="background-color: #2c1082;">
    <div class="widgets_wrapper" style="padding: 120px 0px; ">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 one">
                    <div class="section mcb-section">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-third valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h4 class="themecolor" style="font-size: 70px; color: #8d96e0;"><b>1000+</b></h4>
                                            <h5 style="color:#fff;letter-spacing: 2px;"><b>STUDENTS ARE
                                                <br>TRAINED EVERY YEAR</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="section mcb-section">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-third valign-top move-up clearfix" style="margin-top: -50px;" data-mobile="no-up">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center" style="width: auto; height:260px ;">
                                            <h4 class="themecolor" style="font-size: 70px; color: #8d96e0;"><b>30+</b></h4>
                                            <h5 style="color:#fff;letter-spacing: 2px;" ><b>COMPUTER COURSES</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="section mcb-section">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-third valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h4 class="themecolor" style="font-size: 70px; color: #8d96e0;"><b>95%</b></h4>
                                            <h5 style="color:#fff; letter-spacing: 2px;"><b>STUDENTS ARE GETTING
                                                <br>PLACED EVERY YEAR </b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin: 50px 0px 0px 0px;">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <div style="text-align:center">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper" >
                                        <img class="scale-with-grid" th:src="@{https://scopeindia.org/images/snowpark-footer-logo.png}" style="height: 140px; width: 660px;">
                                    </div>
                                </div>
                                <div class="row" style="color: #848de0;">
                                    <div class="col-md-12">Center for Software, Networking, &amp; Cloud Education</div>
                                    <div class="col-md-12">Kerala: Technopark TVM | Thampanoor TVM | Kaloor Kochi, Tamil Nadu: Distillery Road | Palace Road Nagercoil</div>
                                </div>
                                <hr class="no_line" style="margin:0 auto 30px">
                                <img class="scale-with-grid" alt="An ISO 9001:2015, IAS &amp; IFS Certified Company" title="An ISO 9001:2015, IAS &amp; IAF Certified Company" th:src="@{https://scopeindia.org/images/iso_iaflogo.png}" width="400" height="100">
                                <p style="text-align:center;color: #7c8ddf;">An ISO 9001:2015 Certified Company</p>
                                <p style="text-align:center; color: #7c8ddf;">All Rights Reserved <a class="footer_links" target="_blank" href="https://www.suffixesolutions.com/" title="A trusted IT Partner" style="color: #fff;"> Suffix E Solutions </a>© 2007-2024</p>
                               
                                <div class="row">
                                    <div class="col-md-2"><a class="footer_links" href="tel:+919745936073" style="color: #fff;">9745936073 (TPK) </a></div>
                                    <div class="col-md-2"><a class="footer_links" href="tel:+919745936073" style="color: #fff;">9745936073 (TVM) </a></div>
                                    <div class="col-md-2"><a class="footer_links" href="tel:+917592939481" style="color: #fff;">7592939481 (EKM) </a></div>
                                    <div class="col-md-2"><a class="footer_links" href="tel:+918075536185" style="color: #fff;">8075536185 (NGL) </a></div>
                                    <div class="col-md-2"><a class="footer_links" target="_blank" href="mailto:info@scopeindia.org" style="outline: none; color: #fff;">info@scopeindia.org</a></div>
                                </div>
                        
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</footer>

      
    
</body>
</html>
